.container { 
    height: 500px;
    position: relative;
    border: 4px solid rgb(21, 3, 78); 
    margin-top: -50px;
    background-color: rgb(248, 246, 246);
   
  }
  

  .center {
    position: absolute;
    top: 20%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 10;
    padding: 50;
  }


  .center2 {
    position: absolute;
    top: 20%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 10;
    padding: 50;
  }

  .container2 { 
    height: 300px;
   text-align: center;
    position: relative;
    border: 4px solid rgb(24, 15, 52); 
    width: 650px;
    background-color: rgba(150, 144, 144, 0.83);
    left:3%;
    bottom: -15%;
  }

  .container3 { 
    height: 300px;
   text-align: center;
    position: relative;
    border: 4px solid rgb(24, 15, 52); 
    width: 350px;
    background-color: rgba(150, 144, 144, 0.83);
    bottom: 88%;
    left:105%;
  }



  .center3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 10;
    
  }


  footer{
    margin-top: 350px;
   

  }

  .myButton {
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, #74e610 5%, #5cb811 100%);
    background-color:#4c7628;
    border-radius:12px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#306108;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:10px 23px;
    text-decoration:none;
    text-shadow:-1px 2px 0px #aade7c;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #5cb811 5%, #74e610 100%);
    background-color:#5cb811;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }

 